@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    @apply font-roboto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-oswald font-bold uppercase;
  }

  .h1 {
    @apply text-white text-7xl lg:text-[128px] tracking-[-2px];
  }

  .h2 {
    @apply text-[32px] mobile:text-[36px];
  }

  .h3 {
    @apply text-[28px] mobile:text-[32px];
  }

  .h4 {
    @apply text-[22px] xl:text-[26px];
  }

  .h5 {
    @apply text-[18px] mobile:text-[22px];
  }

  .h6 {
    @apply text-[16px] mobile:text-[18px];
  }

  .visually-hidden {
    @apply absolute w-[1px] h-[1px] m-[-1px] border-0 p-0 whitespace-nowrap overflow-hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
  }

  .custom-pagination .swiper-pagination-bullet {
    @apply w-2 h-2 bg-accent rounded-full transition-all opacity-70 cursor-pointer;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    @apply relative bg-accent before:absolute before:-top-1 before:-left-1 before:w-4 before:h-4 before:border-2 opacity-100 before:border-accent before:rounded-full before:content-[''];
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-md;
  }
}

nav .active {
  @apply after:w-[calc(100%-16px)];
}

.pswp {
  @apply bg-primary-200/40;
}

.pswp__top-bar {
  @apply h-[40px] md:h-[56px] items-center;
}

.pswp__counter {
  @apply text-base text-white w-auto h-auto m-0 ml-5 opacity-100;
}

.pswp__button--close {
  @apply bg-transparent w-[40px] h-[40px] md:w-[56px] md:h-[56px] flex items-center justify-center text-white;
}

.pswp__button--arrow--prev,
.pswp__button--arrow--next {
  @apply bg-primary-300/50 w-[40px] h-[40px] md:w-[56px] md:h-[56px] flex items-center justify-center text-white hover:bg-accent;
}

.pswp__button--arrow--prev {
  @apply ml-5;
}

.pswp__button--arrow--next {
  @apply mr-5;
}

.pswp__button--arrow--prev,
.pswp__button--arrow--next {
  border: 1px solid #d4000d;
  transition: background-color !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 1000ms !important;
}

.pswp__button--arrow--prev:hover,
.pswp__button--arrow--next:hover {
  border: 1px solid #d4000d;
}

.pswp__button--arrow--prev .pswp__icn,
.pswp__button--arrow--next .pswp__icn {
  @apply w-10 h-10 fill-white static m-0;
}

.pswp__button--arrow--prev .pswp__icn {
  @apply ml-[12px];
}

.pswp__button--arrow--next .pswp__icn {
  @apply mr-[12px];
}

.pswp__icn {
  @apply fill-white static;
}
